@import url("loader.css");

:root{
    --background-color: #7fd8f3;
}

body {
    background: var(--background-color)
}
.hide{
    display: none;
}
.fade-enter-active, .fade-leave-active {
    transition: 1.5s;
}
.fade-enter ,.fade-leave-to {
    opacity: 0;
    transform: translate(100%,0);
}